*{
  margin: 0;
  padding: 0;
  text-emphasis: none;
  font-family: "montserrat";
  box-sizing: border-box;
}

body{
  background: white;
  color: white;
}

.second{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card1second {
  display: inline-block;
  position: relative;
  margin: 5% 8%;
  padding: 0%;
  width: 200px;
  height: 50px;
  left: 130px;
}

.flip-card-front img{
  width: 300px;
  height: 300px;
  border-radius: 1%;
}


.flip-card-back h2 span{
  font-weight: 800px;
  position: relative;
  text-align: center;
  left: 50px;
}

.front1{
  
  transform: perspective(600px) rotateY(0deg);
  top: 50px;
  position: relative;
  left: 50px;
}

.sm1{
  text-align: center;
  position: relative;
  font-weight: 1000;
}

.team-title {
 display: inline-block;
 position: relative;
 font-size: 5em;
 color: hotpink; 
 width: 100%;
 text-align: center;
 margin: 20vh 0 0 0;
}

.back1{
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: transfrom .5s linear;
}

.back1{
  background: #f2f2f2;
  transform: perspective(600px) rotateY(180deg);
}

.back-content1{
  color: #2c3e50;
  text-align: center;
  width: 100%;
}

.sm1{
  margin: 20px 0;
}

.sm1 a{
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #2c3e50;
  font-size: 18px;
  transition: 0.4s;
  border-radius: 50%;
  text-decoration: none;
}

.sm1 a:hover {
  background: #2c3e50;
  color: white;
}

/* .card1second:hover > .front1{
  transform: perspective(600px) rotateY(-180deg);

}

.card1second:hover > .back1{
  transform: perspective(600px) rotateY(0deg);
} */

.flip-card {
  margin: 70px 65px;
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
 
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  /* line-height: 15vh; */
  background-color: white;
  color: #2c3e50;
  transform: rotateY(180deg);
}

.row1 {
  display: flex;
  justify-content: center;
  /* clear: both; */
  /* box-sizing: border-box; */
}

header {
  background-color: black;
  top: 0%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("../img/purple-abstract.jpg"); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  opacity: 1;
}

nav{
  background-color: black;
  top: 0px;
  text-align: center;
}

#nav li{
  display: inline;
  margin: 50px;
  position: relative;
  border: 10px;
  bottom: 30px;
}

#nav li a{
  text-decoration: none;
}

#nav li a:hover{
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

a {
  color: #ffffff;
}

footer {
  color: black;
  bottom: 0%;
  width: 100%;
  text-align: center;
}