


/* ***********INDEX************ */

header {
  background-color: black;
  top: 0%;
  position: fixed;
  width: 100%;
}

nav{
  background-color: black;
  top: 0px;
  text-align: center;
}

nav li{
  display: inline;
  margin: 50px;
  position: relative;
  border: 10px;
  bottom: 30px;
  /* left: 50px; */
}

a {
  color: hotpink;
}

.logo{
  left: 0%;
  top: 0%;
  width: 10px;
  height: 10px;
}

body {
  margin: 0;
  padding: 0;
  /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"); */
  /* background-color: #fb7e7e; */
  /* background-image: url('/img/joker.gif'); */
  background-size: 120%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.contact-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  height: 500px;
  box-sizing: border-box;
  background: rgba(0,0,0,0.6);
  padding-box: 80px 40px;
  /* background-image: url('/img/jokerhimself.jpg'); */
}

.contact-form h3 {
  margin: 0;
  margin: 15%;
  text-align: center;
  padding: 0 0 20px;
  font-weight: bold;
  color: #fff;
}

.contact-form p {
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #ffffff;
  font-size: 17px;
}

.contact-form input {
  width: 80%;
  margin: 20px 60px 20px;
  text-align: center;
}

.contact-form input[type=text] {
  border: none;
  border-bottom: 1px solid #ffffff;
  background-color: transparent;
  outline: none;
  height: 40px;
  color: #ffffff;
  display: 16px;
  font-size: 20px;
}

/* .avatar select {
  margin-top: 20px;
  padding: 10px 0;
} */

.contact-form input[type=submit]{
  border: none;
  height: 40px;
  outline: none;
  color: #ffffff;
  font-size: 15px;
  background-color: hotpink;
  cursor: pointer;
  border-radius: 20px;
  margin-top: 10px;
  width: 40%;
  margin-left: 180px;
}


/* ***********END INDEX************ */

#crop_image{
    width:80px;
    height: auto;
}

#full_image {
    width: 300px;
    height: auto;
}

/* ***********INDEX************ */
body {
    margin: 0;
    padding: 0;
    /* background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"); */
    /* background-color: #fb7e7e; */
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 500px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.6)
    /* padding-box: 80px 40px; */
  }
  
  .form-area h3 {
    /* margin: 0; */
    margin: 15%;
    text-align: center;
    padding: 0 0 20px;
    font-weight: bold;
    color: #fff;
  }
  
  .form-area p {
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
    font-size: 17px;
  }
  
  .form-area input {
    width: 80%;
    margin: 20px 60px 20px;
    text-align: center;
  }
  
  .form-area input[type=text] {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #ffffff;
    display: 16px;
    font-size: 20px;
  }
  
  /* .form-area select {
    margin-top: 20px;
    padding: 10px 0;
  } */
  
  .form-area input[type=submit]{
    border: none;
    height: 40px;
    outline: none;
    color: #ffffff;
    font-size: 15px;
    background-color: tomato;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    width: 40%;
    margin-left: 180px;
  }
  
  /* ***********END INDEX************ */
  
  
  
=======
footer {
  background-color: black;
  color: hotpink;
  position: fixed;
  bottom: 0%;
  width: 100%;
  text-align: center;








body{
    font-size: 20px;
    font-family: monospace;
}
#categories{
    width : 80%;
    right : 0;
    top : 125px;
    padding : 10px
}
.categories{
    display: inline-block;
    width :320px;
    text-align: center;
}

#categories img{
    width : 320px;
    height : 300px;
    margin: 10px;
}
#container{
    margin : 20px auto;
    background-color: white;
    background-image: "/img/military.jpg";
    height: 480px;
    width : 100%;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 1.5em;
    font-weight: bolder;
    word-break: break-all;
    width:150px;
    height:150px;
    border : 2px solid lightgrey;
    text-align: center;
    cursor: pointer;
    position: absolute;
    left:300px;
    top:50px;
    color : lightgrey;
}
#start:hover{
    border: 3px solid lightseagreen;
    color : lightseagreen;
}

#qImg{
    width : 300px;
    height : 300px;
    position: absolute;
    left : 0px;
    top : 0px;
}
#qImg img{
    width : 300px;
    height : 300px;
    border-top-left-radius: 5px;
}

#question{
    width:80%;
    height : 125px;
    position: absolute;
    right:0;
    top:0;
}
#question p{
    margin : 0;
    padding : 15px;
    font-size: 1.25em;
}

#choices{
    width : 80%;
    position: absolute;
    right : 0;
    top : 125px;
    padding : 10px
}
.choice{
    display: inline-block;
    width :300px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}
.choice:hover{
    border : 2px solid grey;
    font-weight: bold;
}

#timer{
    position: absolute;
    height : 100px;
    width : 200px;
    bottom : 0px;
    text-align: center;
}
#counter{
    font-size: 3em;
}
#btimeLine{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: lightgray;
    margin-left : 25px;
}
#timeLine{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
    margin-top : -10px;
    margin-left : 25px;
}
#progress{
    width : 500px;
    position: absolute;
    bottom : 0px;
    right : 0px;
    padding:5px;
    text-align: right;
}
.prog{
    width : 25px;
    height : 25px;
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    margin-left : 5px;
    margin-right : 5px;
}
#scoreContainer{
    margin : 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 480px;
    width : 960px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer img{
    position: absolute;
    top:240px;
    left:325px;
}
#scoreContainer p{
    position: absolute;
    display: block;
    width : 59px;
    height :59px;
    top:130px;
    left:325px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}
